name: TSD CI

on:
  push:
    branches: [ next_release ]
    paths:
      - 'tsd/**'
      - '.github/actions/**'
      - '.github/workflows/build-tsd.yml'
  pull_request:
    branches: [ main, next_release ]
    paths:
      - 'tsd/**'
      - '.github/actions/**'
      - '.github/workflows/build-tsd.yml'

jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        os: [linux, windows]
        config: [Release, Debug]
        include:
          - os: linux
            runs-on: ubuntu-22.04
            generator: Ninja
          - os: windows
            runs-on: windows-2022
            generator: Ninja
    steps:
    - uses: actions/checkout@v6
    - name: Setup MSVC (Windows)
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1
    - name: Install Packages
      if: ${{ matrix.os == 'linux' }}
      run: sudo apt install -y libtbb-dev
    - name: Build ANARI-SDK
      uses: ./.github/actions/build-anari-sdk
      with:
        config: ${{ matrix.config }}
        install-prefix: ${{ github.workspace }}/deps
        build-deps-path: tsd/cmake/build_deps
        generator: Ninja
    - name: Configure TSD CMake
      run: >
        cmake -LA -G Ninja -B ${{github.workspace}}/build
        -DCMAKE_PREFIX_PATH=${{ github.workspace }}/deps
        -DCMAKE_BUILD_TYPE=${{ matrix.config }}
        -DTSD_BUILD_APPS=ON
        -DTSD_BUILD_INTERACTIVE_APPS=OFF
        -DTSD_BUILD_UI_LIBRARY=OFF
        -DTSD_USE_ASSIMP=OFF
        -DTSD_USE_CUDA=OFF
        -DTSD_USE_HDF5=OFF
        -DTSD_USE_SDL3=OFF
        -DTSD_USE_TBB=OFF
        -DTSD_USE_USD=OFF
        -DTSD_ENABLE_SERIALIZATION=OFF
        ${{ github.workspace }}/tsd
    - name: Build
      run: cmake --build ${{ github.workspace }}/build --config ${{ matrix.config }}
    - name: Unit Tests
      working-directory: ${{  github.workspace }}/build
      run: ctest -C ${{ matrix.config }} --output-on-failure

  build-cuda:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        os: [linux, windows]
        cudaversion: ['12.4.1', '13.0.2']
        config: [Release, Debug]
        include:
          - os: linux
            runs-on: ubuntu-22.04
            generator: Ninja
          - os: windows
            runs-on: windows-2022
            generator: Ninja
    steps:
    - uses: actions/checkout@v6
    - name: Setup MSVC (Windows)
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1
    - name: Setup CUDA Toolkit
      uses: ./.github/actions/setup-cuda
      with:
        cuda-version: ${{ matrix.cudaversion }}
    - name: Install Packages
      if: ${{ matrix.os == 'linux' }}
      run: sudo apt install -y libtbb-dev
    - name: Build ANARI-SDK
      uses: ./.github/actions/build-anari-sdk
      with:
        config: ${{ matrix.config }}
        install-prefix: ${{ github.workspace }}/deps
        build-deps-path: tsd/cmake/build_deps
        generator: Ninja
    - name: Configure TSD CMake (CUDA)
      run: >
        cmake -LA -G Ninja -B ${{github.workspace}}/build-tsd
        -DCMAKE_PREFIX_PATH=${{ github.workspace }}/deps
        -DCMAKE_BUILD_TYPE=${{ matrix.config }}
        -DTSD_BUILD_APPS=ON
        -DTSD_BUILD_INTERACTIVE_APPS=OFF
        -DTSD_BUILD_UI_LIBRARY=OFF
        -DTSD_USE_ASSIMP=OFF
        -DTSD_USE_CUDA=ON
        -DTSD_USE_HDF5=OFF
        -DTSD_USE_SDL3=OFF
        -DTSD_USE_TBB=OFF
        -DTSD_USE_USD=OFF
        -DTSD_ENABLE_SERIALIZATION=OFF
        ${{ github.workspace }}/tsd
    - name: Build TSD (CUDA)
      run: cmake --build ${{ github.workspace }}/build-tsd --config ${{ matrix.config }} --parallel
